body{
    background-image: url(https://previews.123rf.com/images/alicjane/alicjane1802/alicjane180200255/96431718-fondo-de-piedra-gris-textura-de-muro-de-hormig%C3%B3n.jpg); 
    text-align: center; }
img{
    width: 520px; ; height: 520px;
}
h3{
font-weight: bold;
}